.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__navigation {

        max-width: 100%;

        
        
         // Menu hamburger pour petit écran
    .menu-toggle {
        display: none;  // Cacher l'input de type checkbox
      }
      // Icône du hamburger
    .menu-icon {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
  
        .bar {
          width: 40px;
          height: 5px;
          background-color: #000000;
          border-radius: 5px;
        }
      }
      .entete__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;
          
          .menu__li {
            margin-left: 20px;
            
            a {
              text-decoration: none;
              color: green;
              font-size: 18px;
                }
            }
         }
        }
        
        @media screen and (max-width:880px){
            background-color: white;
            padding: 20px;
            width: 100vw;
            // Afficher l'icône du hamburger
            .menu-icon {
            display: flex;
            align-items: flex-end;
            max-width: 50%;
            right: 0;
            top: 10px;
            position: absolute;
            }    
            // Menu masqué par défaut
        .entete__menu {
            display: none;
            width: 100%;
        } 
       
        .entete__logo {
            align-self: flex-start;
            z-index: 99;
            margin: 0;
            max-width: 20%;
        }
        // Si la checkbox est cochée (menu ouvert)
        .menu-toggle:checked + .menu-icon  + .entete__menu {
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 20px 0;
            
            
        }
        .recherche{
            display: none;
        }
    }
                                             
}
    position: static;
    flex-direction: row;
    background-color: transparent;
    .entete__logo {
        img{
            width: 20%;
        }                                                          
    }
}