.formulaire{
  background-color: rgb(248, 218, 218);
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0px;
 
  
  &__contenu{
    justify-content: center;
   
    
    form{
      display: flex;
      flex-direction:row ;
    }
 
  }
  &__champ input{
    border: 2px solid #57e6eb;
    display: flex;
    flex-direction: column;
  }

}