.galerie{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .galerie__figure{
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
    img{
      width: 250px;
    }
  }
 
  
}