.global{
    max-width: 1100px;
    padding: 10vh 5vw;
    
}
.populaire{
    display: flex;
    justify-self: center;

}
.populaire .global{
    display: flex;
    flex-wrap: wrap;
}
.carte {
    transition: transform 0.3s ease; // transition fluide
  
    &:hover {
      transform: scale(1.05); // agrandissement léger
    }
  }