.hero{
    background-image: url("images/maldives.jpg");
    min-height: 100vh;
    &__btn{
        background-color: rgb(146, 203, 175);
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}