// Barre d'erreur
.erreur_barre {
  background-color:  rgb(200, 244, 250); // Vert naturel
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0;
}
 
// Section principale de la page 404
.erreur_404 {
  text-align: center;
  margin: 50px auto;
  font-family: 'Georgia', serif; // Police plus élégante pour un thème nature
  color: white; 
 
  h1 {
    font-size: 48px;
    color:rgb(255, 255, 255); 
    margin-bottom: 20px;
  }
 
  h3 {
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(155, 193, 198); // Marron pour un ton terreux
  }
 
  .bouton_acceuil {
    margin-top: 20px;
 
    a {
      display: inline-block;
      background-color: #86d6fe; 
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      transition: background-color 0.3s ease, transform 0.2s ease;
 
      &:hover {
        background-color: rgb(155, 193, 198); // plus foncé au survol
        transform: scale(1.05); // Légère mise en avant au survol
      }
    }
  }
}
 
// Ajout d'un fond pour refléter la nature
body.error404 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(252, 252, 252); // Texte par défaut en vert foncé
}
 