
// Section principale de la page 404
.erreur_404 {
  text-align: center;
  width: 100%;
  height: 4000px;
  background-repeat: no-repeat;
  color: white; 

 //texte 
 .erreur_texte{
  background-color: rgba(214, 206, 213, 0.5); 
  padding: 5px;
  border-radius: 10px; 
  margin-bottom: 30px;
  
 }
 .erreur_texte h3 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #fcc2f3;
}
 .erreur_titre{
  background-color: rgba(214, 206, 213, 0.5); 
  padding: 5px;
  border-radius: 10px; 
 }
 .erreur_titre h1 {
  font-size: 48px;
  color:rgb(255, 255, 255); 
  margin-bottom: 20px;
}
   
 
  
 
  .bouton_acceuil {
    margin-top: 20px;
 
    a {
      display: inline-block;
      background-color: #86d6fe; 
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      transition: background-color 0.3s ease, transform 0.2s ease;
 
      &:hover {
        background-color: rgb(108, 164, 172); // plus foncé 
        transform: scale(1.20); // aggrandit au survole
      }
    }
  }
}
 
// Ajout d'un fond pour refléter la nature
body.error404 {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  color: rgb(252, 252, 252); // Texte par défaut
}
 