
// Section principale de la page 404
.erreur_404 {
  text-align: center;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white; 
  margin: 5px;

 //texte 
 .erreur_texte{
  background-color: rgba(214, 206, 213, 0.5); 
  padding: 5px;
  border-radius: 10px; 
  margin: 30px;
  
 }
 .erreur_texte h3 {
  font-size: 24px;
  color: #fcc2f3;
}
 .erreur_titre{
  background-color: rgba(214, 206, 213, 0.5); 
  padding: 5px;
  margin: 30px;
  border-radius: 10px; 
 }
 .erreur_titre h1 {
  font-size: 48px;
  color:rgb(255, 255, 255); 
 
}
   
.erreur_menu {
  margin: 40px;
  width: 100%;
  display: flex;
  white-space: nowrap;
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap;

  a{
    color: #ffffff;
    background-color: rgba(216, 168, 226, 0.555); 
    padding: 10px;
    margin: 30px;
    width: 100%; 
    border-radius: 10px; 
    
  }
}

@media screen and (max-width: 800px){

  .erreur_menu {
   
      margin: 0px;
      justify-content: center; 
   
  
    a{
    color: #ffffff;
    background-color: rgba(152, 89, 164, 0.555); 
    padding: 5px;
    margin: 25px;
    width: 48%;
    border-radius: 10px;
      
    }
    & .menu { //ul
      display : flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 10px;
      
      
      
  }
  }
}
 

  .bouton_acceuil {
    margin-top: 40px;

 
    a {
      display: inline-block;
      background-color: #86d6fe; 
      color: white;
      text-decoration: none;
      padding: 15px 25px;
      border-radius: 5px;
      font-size: 20px;
      font-family: 'Arial', sans-serif;
      transition: background-color 0.3s ease, transform 0.2s ease;
 
      &:hover {
        background-color: rgb(108, 164, 172); // plus foncé 
        transform: scale(1.20); // aggrandit au survole
      }
    }
  }
}
 

