
.carte{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    
   &--grande{
    flex: 1 1 20%;
   
   } 
   &__image{

    img{
        width : 100%;
    }
   }
   &__contenu{
       background-color: rgb(200, 244, 250); 
       
   }
   &__titre{

   }
   &__description{
    gap: 10px;
   }
   &__bouton{
    &--actif{
        color: rgb(42, 70, 70);
    }
   }


}