/* ----------------------------------------- .menu */
.menu{ // ul
    display : flex;
    flex-direction: row;
    list-style-type: none;
    gap : 10px 0;
    @media screen and (max-width:880px) {
        flex-direction: column;
    }
    &__li{ // li
 
       a{ //a
        text-decoration : none;
        padding : 4px;
       } 
    }
}