/* ----------------------------------------- .menu */
.menu{ // ul
    display : flex;
    @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    
  
    }
    flex-direction: row;
    list-style-type: none;
    gap : 15px 0;
    &-item{ // li
 
       a { //a
        text-decoration : none;
        padding : 5px;
       } 
    }
}